<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Afghanistan</string>
	<string>Albania</string>
	<string>Algeria</string>
	<string>Andorra</string>
	<string>Angola</string>
	<string>Argentina</string>
	<string>Armenia</string>
	<string>Aruba</string>
	<string>Australia</string>
	<string>Austria</string>
	<string>Azerbaijan</string>
	<string>Bahamas</string>
	<string>Bahrain</string>
	<string>Bangladesh</string>
	<string>Barbados</string>
	<string>Belarus</string>
	<string>Belgium</string>
	<string>Belize</string>
	<string>Benin</string>
	<string>Bermuda</string>
	<string>Bhutan</string>
	<string>Bolivia</string>
	<string>Botswana</string>
	<string>Brazil</string>
	<string>Bulgaria</string>
	<string>Burundi</string>
	<string>Cambodia</string>
	<string>Cameroon</string>
	<string>Canada</string>
	<string>Chad</string>
	<string>Chile</string>
	<string>China</string>
	<string>Colombia</string>
	<string>Comoros</string>
	<string>Congo</string>
	<string>Croatia</string>
	<string>Cuba</string>
	<string>Cyprus</string>
	<string>Denmark</string>
	<string>Djibouti</string>
	<string>Dominica</string>
</array>
</plist>
